# In class practice with Pandas & Scipy Libraries

Import the libraries

In [1]:
import os
import re
import pandas as pd
from scipy import stats

hello world

## Working with pandas

How to importa a tab-delimited text data file. The file is in the same directory at the jupyter notebook.

In [83]:
data=pd.read_csv('hist_taxa_treat2.txt', sep='\t', index_col=False, low_memory=False)

How to use pandas to assign data from the dataset to a variable.

In [84]:
lacto=data.loc[(data['Species']=='Lactobacillus')]
x=lacto['Abundance']
print('lactos')
print(x)

lactos
0     0.063575
1     0.030630
2     0.026108
3     0.058233
4     0.092633
        ...
84    0.003580
85    0.016010
86    0.044609
87    0.007296
88    0.003000
Name: Abundance, Length: 89, dtype: float64

In [4]:
para=data.loc[(data['Species']=='Parabacteroides')]
#print(para)
y=para['Abundance']
print('paras')
print(y)

paras
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64

## Working with Scipy statistic methods

In [5]:
tt_out=stats.ttest_ind(x,y)
print(tt_out)

TtestResult(statistic=np.float64(7.288016524628964), pvalue=np.float64(1.0200357215755368e-11), df=np.float64(176.0))

## Exercises

PRINT HEAD AND TAIL OF data

In [25]:
data.head()
data.tail()
print(data.head())
print(data.tail())

  SampleID Treatment  Treatment_no  Time        Species  Abundance   Count
0    CC01A   Control           1.0   0.0  Lactobacillus   0.063575  1430.0
1    CC01B   Control           1.0   1.0  Lactobacillus   0.030630   379.0
2    CC01C   Control           1.0   2.0  Lactobacillus   0.026108   386.0
3    CC01D   Control           1.0   3.0  Lactobacillus   0.058233  1193.0
4    CC02A   Control           1.0   0.0  Lactobacillus   0.092633  2455.0
     SampleID  Treatment  Treatment_no  Time              Species  Abundance  \
1330    CC23C  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000
1331    CC23D  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000
1332    CC24A  Treatment           NaN   NaN  Desulfovibrionaceae   0.000203
1333    CC24B  Treatment           NaN   NaN  Desulfovibrionaceae   0.000063
1334    CC24D  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000

      Count
1330    NaN
1331    NaN
1332    NaN
1333    NaN
1334    NaN

Assign 3 variables to 3 different values in column 'Species'

In [ ]:
S1, S2, S3 = data["Species"].iloc[[70, 110, 220]] 
# assign variable ( 70, 110, 220) from collumn "Species" data["Species"]
# to assign specific row use .iloc
print(S1)
print (S2)
print(S3)

Lactobacillus
Parabacteroides
Victivallaceae

Use the describe function

In [44]:
data.describe()

       Treatment_no         Time    Abundance        Count
count   1068.000000  1068.000000  1335.000000  1068.000000
mean       1.516854     1.505618     0.011190   218.326779
std        0.499950     1.133525     0.024425   448.925723
min        1.000000     0.000000     0.000000     0.000000
25%        1.000000     0.000000     0.000072     5.000000
50%        2.000000     2.000000     0.001127    28.000000
75%        2.000000     3.000000     0.007133   200.000000
max        2.000000     3.000000     0.206322  4317.000000

Print the sums, var, and std for data

In [51]:
data.describe()
print(data.describe().sum())
print(data.describe().std())
print(data.describe().var())

Treatment_no    1078.016804
Time            1078.639143
Abundance       1335.250270
Count           6285.252502
dtype: float64
Treatment_no     377.089516
Time             377.059440
Abundance        471.981141
Count           1470.134737
dtype: float64
Treatment_no    1.421965e+05
Time            1.421738e+05
Abundance       2.227662e+05
Count           2.161296e+06
dtype: float64

Make a new dataframe that only includes SampleID and Species.
Make a second dataframe that only includes only Abundance.
Make a third dataframe that merges the other two.

In [ ]:
df1= pd.DataFrame(
    {"SampleID": data["SampleID"].iloc[0:1334],
     "Species":data["Species"].iloc[0:1334]}
)
print(df1)

df2= pd.DataFrame(
    {"Abundance" : data["Abundance"].iloc[0:1334]})
print(df2)

df3 = pd.concat([df1, df2], axis=1) to append column
print(df3)

     SampleID              Species
0       CC01A        Lactobacillus
1       CC01B        Lactobacillus
2       CC01C        Lactobacillus
3       CC01D        Lactobacillus
4       CC02A        Lactobacillus
...       ...                  ...
1329    CC23B  Desulfovibrionaceae
1330    CC23C  Desulfovibrionaceae
1331    CC23D  Desulfovibrionaceae
1332    CC24A  Desulfovibrionaceae
1333    CC24B  Desulfovibrionaceae

[1334 rows x 2 columns]
      Abundance
0      0.063575
1      0.030630
2      0.026108
3      0.058233
4      0.092633
...         ...
1329   0.000152
1330   0.000000
1331   0.000000
1332   0.000203
1333   0.000063

[1334 rows x 1 columns]
     SampleID              Species  Abundance
0       CC01A        Lactobacillus   0.063575
1       CC01B        Lactobacillus   0.030630
2       CC01C        Lactobacillus   0.026108
3       CC01D        Lactobacillus   0.058233
4       CC02A        Lactobacillus   0.092633
...       ...                  ...        ...
1329    CC23B  Desulfovibrionaceae   0.000152
1330    CC23C  Desulfovibrionaceae   0.000000
1331    CC23D  Desulfovibrionaceae   0.000000
1332    CC24A  Desulfovibrionaceae   0.000203
1333    CC24B  Desulfovibrionaceae   0.000063

[1334 rows x 3 columns]

In [71]:
data.head()

  SampleID Treatment  Treatment_no  Time        Species  Abundance   Count
0    CC01A   Control           1.0   0.0  Lactobacillus   0.063575  1430.0
1    CC01B   Control           1.0   1.0  Lactobacillus   0.030630   379.0
2    CC01C   Control           1.0   2.0  Lactobacillus   0.026108   386.0
3    CC01D   Control           1.0   3.0  Lactobacillus   0.058233  1193.0
4    CC02A   Control           1.0   0.0  Lactobacillus   0.092633  2455.0

In [7]:
data

,SampleID,Treatment,Treatment_no,Time,Species,Abundance,Count
0,CC01A,Control,1.0,0.0,Lactobacillus,0.063575,1430.0
1,CC01B,Control,1.0,1.0,Lactobacillus,0.030630,379.0
2,CC01C,Control,1.0,2.0,Lactobacillus,0.026108,386.0
3,CC01D,Control,1.0,3.0,Lactobacillus,0.058233,1193.0
4,CC02A,Control,1.0,0.0,Lactobacillus,0.092633,2455.0
...,...,...,...,...,...,...,...
1330,CC23C,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1331,CC23D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1332,CC24A,Treatment,NaN,NaN,Desulfovibrionaceae,0.000203,NaN
1333,CC24B,Treatment,NaN,NaN,Desulfovibrionaceae,0.000063,NaN
1334,CC24D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN

## You can use the directory function to see all the pandas methods

In [8]:
#dir(data)

In [9]:
#How to see the names of all the columns
data.columns  #All the titles for the columns

Index(['SampleID', 'Treatment', 'Treatment_no', 'Time', 'Species', 'Abundance',
       'Count'],
      dtype='object')

In [10]:
#Using a for loop to print all the names
for i in data.columns: print (i)

SampleID
Treatment
Treatment_no
Time
Species
Abundance
Count

In [11]:
#Retrieve data of all the columns
data["Count"]

0       1430.0
1        379.0
2        386.0
3       1193.0
4       2455.0
         ...
1330       NaN
1331       NaN
1332       NaN
1333       NaN
1334       NaN
Name: Count, Length: 1335, dtype: float64

In [85]:
#An example of calculating a stat
data["Count"].sum()

np.float64(233173.0)

## Use pandas in a function

Write a function called calc_stats that:
(1) Takes 2 string arguments, a filename of tab-delimited database and the name of a 
    column in the data.
(2) And it returns a list of the following: the sum, median, mean, standard deviation,
    minimum value, and maximum value.

In [94]:
import pandas as pd
def calc_stats(filename, column_name):
    #load the data
    df = pd.read_csv(filename, sep='\t')
    # make sure that the data is from specified column
    column_data= df[column_name]
    #calculate
    data_sum= column_data.sum()
    data_median =column_data.median()
    data_mean= column_data.mean ()
    data_std= column_data.std()
    data_min= column_data.min()
    data_max=column_data.max()

    return [data_sum, data_median, data_mean, data_std, data_min, data_max]

In [95]:
out=calc_stats("hist_taxa_treat2.txt", "Count")
print(out)
#Should print [233173.0, 28.0, 218.32677902621722, 448.92572275301353, 0.0, 4317.0]

[np.float64(233173.0), np.float64(28.0), np.float64(218.32677902621722), np.float64(448.92572275301364), np.float64(0.0), np.float64(4317.0)]

In [96]:
out2=calc_stats("hist_taxa_treat2.txt", "Abundance")
print(out2)
#Should print [14.939201413, 0.001127497, 0.011190413043445693, 0.024424991167155383, 0.0, 0.206321962]

[np.float64(14.939201413), np.float64(0.001127497), np.float64(0.011190413043445693), np.float64(0.0244249911671554), np.float64(0.0), np.float64(0.206321962)]